/build

# Mac
.DS_Store

#VSCode
.vscode

# Intellij
.idea/
*.iml
*.iws

# vim
.*.un~
Session.vim

# terraform
.terraform
.terraform.lock.hcl

secrets/PGPASSWORD.env

# postgres 
dbdata
docker-entrypoint-initdb.d/*
!docker-entrypoint-initdb.d/30-user.sql
!docker-entrypoint-initdb.d/40-synchronous-commit.sql
